################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AIGClient/.angular/cache/14.2.10
/AigExam/.vs/AigExam/FileContentIndex
/AigExam/.vs/AigExam/config
/.vs/interview-aig/FileContentIndex
/.vs/interview-aig/v17/.wsuo
/.vs/interview-aig/v17
/.vs
