<mat-card style="max-width: 200px">
  <mat-card-header>
    <mat-card-title>{{ article.Title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ article.Image }}" alt="Image" />
  <mat-card-content>
    <p>
      {{ article.Description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!isFavorite" mat-button (click)="addToFavorite(article.ID)">
      Add To Favorite
    </button>
    <button
      *ngIf="isFavorite"
      mat-button
      (click)="removeFromFavorite(article.ID)"
    >
      Remove From Favorite
    </button>
  </mat-card-actions>
</mat-card>
